<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>
<body>
    <ul class="li">
       <li ><a href="/">Home</a></li>
        <li ><a href="/about">about</a></li>
        <li ><a href="/createBlog">createBlog</a></li>
    </ul>
    <h1>Content Not found</h1>
    <%- include('./partials/footer.ejs') %>
</body>
</html>