<!DOCTYPE html>
<html lang="en">
<%-include('./partials/header.ejs')%>

<body>
    <%-include('./partials/nav.ejs')%>
    <div style="text-align: center;padding-left:50px;padding-right:50px;">
        <h2 style="padding: 15px;">Website designed as your complete pathway for Product based</h2>
        <p>
            “Geeks are people who love something so much that all the details matter”.<br>
            Interview Tracker is created with a goal in mind to provide well written, well thought selected questions and their well explained solutions.<br>
            Our core team consists of just two people "Ayush Gupta" and "Meghna Barnwal".<br>
            Our content has been divided into various categories to make it easily accessible for the users.<br>
            We have selected best questions from various websites after lot of analysis to give you the best experience.<br>
            Whether you want to learn algorithms, data structures or it is the programming language on its own which interests you, we has covered everything!<br>
            Even if you are looking for Interview preparation material, we have a vast set of company-wise interview experiences to learn from, that gives a user insights into the recruitment procedure of a company.<br>
            Adding to this, it serves as a perfect platform for users to share their knowledge via contribute option.
        </p>
    </div>
    <%-include('./partials/footer.ejs')%>
</body>
</html>