<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
<body class="">
    <%- include('./partials/nav.ejs') %><br>
    <div class="contBox">

        <h2 class="homehead">APTITUDE & PUZZLES</h2>
        <h2 class="contBoxhead">Mathematical Expectation*</h2>
        Go through Mathematical Expectation Article on Codechef.<br>
        <a href="https://www.codechef.com/wiki/tutorial-expectation" class="contlink" style="color: blue;">codechef/mathematical_expectation</a><br>
        <h2 class="contBoxhead">Aptitude</h2>
        Solve Quantitative Aptitude Problems on Pariksha.<br>
        <a href="https://www.pariksha.co/students/index/chameleon/54501/" class="contlink" style="color: blue;">pariksha/quantitative-aptitude</a><br><br>
        
        Solve Logical Reasoning Problems on Pariksha.<br>
        <a href="https://www.pariksha.co/students/index/chameleon/54502/" class="contlink" style="color: blue;">pariksha/logical-reasoning</a><br><br>
        
        Solve Verbal Ability Problems on Pariksha.<br>
        <a href="https://www.pariksha.co/students/index/chameleon/54503/" class="contlink" style="color: blue;">pariksha/verbal-ability</a><br><br>
        
        Solve Aptitude Problems on Indiabix.<br>
        <a href="https://www.indiabix.com/aptitude/questions-and-answers/" class="contlink" style="color: blue;">indiabix/aptitude</a><br>
        <br>
        <h2 class="contBoxhead">Puzzles</h2>
        Study Puzzles from Geeksforgeeks.<br>
        <a href="https://www.geeksforgeeks.org/puzzles/#Puzzles" class="contlink" style="color: blue;">geeksforgeeks/puzzles</a> (01-44) + (Those in Articles)<br><br>
        ​
        Study Puzzles from Interviewbit.<br>
        <a href="https://www.interviewbit.com/puzzles/" class="contlink" style="color: blue;">interviewbit/puzzles (all)</a><br><br>
        
        Study Puzzles from Puzzlefry.<br>
        <a href="https://puzzlefry.com/tag/interview-puzzle/" class="contlink" style="color: blue;">puzzlefry/interview-puzzle</a><br>
        
    </div>
    </body>
    </html>