<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">ARRAYS</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://www.geeksforgeeks.org/introduction-to-arrays/"target="_blank">
                            <li><strong>Introduction </strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/running-sum-of-1d-array"target="_blank">
                        <li><strong>Running Sum</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/kids-with-the-greatest-number-of-candies"target="_blank">
                            <li><strong>Highest Candy</strong> </li>
                    </a>
                        <a href="https://leetcode.com/problems/shuffle-the-array"target="_blank">
                        <li><strong>Shuffle the Array</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/richest-customer-wealth"target="_blank">
                        <li><strong>Richest Customer</strong></li>
                        
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="plan basic">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/count-good-triplets"target="_blank">
                            <li><strong>Count Good Triplets</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/find-the-highest-altitude"target="_blank">
                        <li><strong>Highest Altitude</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/minimum-time-visiting-all-points"target="_blank">
                            <li><strong>Min Time to Visit</strong> </li>
                    </a>
                        <a href="https://leetcode.com/problems/flipping-an-image"target="_blank">
                        <li><strong>Flip Images</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/maximum-subarray"target="_blank">
                        <li><strong>Maximum subarray</strong></li>
                        
                        </a>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="plan standard">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Medium</h3>
                    <div class="price">75%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/merge-intervals"target="_blank">
                            <li><strong>Merge Intervals</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/maximum-swap"target="_blank">
                            <li><strong>Maximum Swaps</strong></li>
                        </a>
                            <a href="https://leetcode.com/problems/toeplitz-matrix"target="_blank">
                                <li><strong>Toeplitx Matrix</strong> </li>
                        </a>
                            <a href="https://leetcode.com/problems/3sum-closest"target="_blank">
                            <li><strong>3 Sum-closet</strong></li>
                            </a>
                            <a href="https://leetcode.com/problems/find-peak-element"target="_blank">
                            <li><strong>Peak Element</strong></li>
                        </a>
                </ul>
    </div>
</div>
</div>
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://leetcode.com/problems/trapping-rain-water"target="_blank">
                    <li><strong>Trapping Rain-water</strong></li>
            </a>
            <a href="https://leetcode.com/problems/same-tree"target="_blank">
                <li><strong>Same Tree</strong></li>
            </a>
                <a href="https://leetcode.com/problems/max-value-of-equation"target="_blank">
                    <li><strong>Max Value of Exp.</strong> </li>
            </a>
                <a href="https://leetcode.com/problems/maximal-rectangle"target="_blank">
                <li><strong>Maximal-Rectangle</strong></li>
                </a>
                <a href="https://leetcode.com/problems/first-missing-positive"target="_blank">
                <li><strong>First Missing Positive</strong></li>
                
                </a>
            </ul>
        </div>
        </div>
    </div>
</div>
<a href="/Stacks">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>