<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">BACKTRACKING</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://www.geeksforgeeks.org/backtracking-algorithms/"target="_blank">
                            <li><strong>Introduction</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/count-of-matches-in-tournament"target="_blank">
                            <li><strong>Count of Matches</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/sum-of-all-subset-xor-totals"target="_blank">
                            <li><strong>Sum of Subsets</strong> </li>
                        </a>
                        <a href="https://leetcode.com/problems/binary-watch" target="_blank">
                            <li><strong>Binary Watch</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/all-paths-from-source-to-target"target="_blank">
                            <li><strong>All Paths</strong></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="plan basic">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/letter-tile-possibilities"target="_blank">
                            <li><strong>Letter Tile Possibility</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/count-sorted-vowel-strings"target="_blank">
                            <li><strong>Sorted Vowel String</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/iterator-for-combination"target="_blank">
                            <li><strong>Iterator for Combination</strong> </li>
                        </a>
                        <a href="https://leetcode.com/problems/letter-case-permutation"target="_blank">
                            <li><strong>Letter Case Permutation</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/subsets"target="_blank">
                            <li><strong>Subsets</strong></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="plan standard">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Medium</h3>
                    <div class="price">75%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/unique-paths-iii" target="_blank">
                            <li><strong>Unique Paths</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/n-queens" target="_blank">
                            <li><strong>N-queens</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/additive-number" target="_blank">
                            <li><strong>Additive Numbers</strong> </li>
                        </a>
                        <a href="https://leetcode.com/problems/sudoku-solver" target="_blank">
                            <li><strong>Sudoku Solver</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/word-search-ii" target="_blank">
                            <li><strong>Word Search</strong></li>
                        </a>
                    </ul>
                </div>
</div>
</div>
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://leetcode.com/problems/stickers-to-spell-word" target="_blank">
                    <li><strong>Stickers To Spell</strong></li>
                </a>
                <a href="https://leetcode.com/problems/maximize-grid-happiness" target="_blank">
                    <li><strong>Maximise Grid Happiness</strong></li>
                </a>
                <a href="https://leetcode.com/problems/minimum-incompatibility" target="_blank">
                    <li><strong>Minimum Incompatibility</strong> </li>
                </a>
                <a href="https://leetcode.com/problems/wildcard-matching" target="_blank">
                    <li><strong>Wildcard Matching</strong></li>
                </a>
                <a href="https://leetcode.com/problems/word-ladder-ii" target="_blank">
                    <li><strong>Word ladder</strong></li>
                </a>
            </ul>
        </div>
        </div>
    </div>
</div>
<a href="/Hashing">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>