<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">BIT MANIPULATION</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://www.hackerrank.com/challenges/lonely-integer">
                            <li><strong>Lonely Integer</strong></li>
                    </a>
                    <a href="https://www.hackerrank.com/challenges/maximizing-xor">
                        <li><strong>Maximise XOR</strong></li>
                    </a>
                        <a href="https://www.hackerrank.com/challenges/sum-vs-xor">
                            <li><strong>SUM vs XOR</strong> </li>
                    </a>
                        <a href="https://www.geeksforgeeks.org/bits-manipulation-important-tactics/">
                        <li><strong>Important Tactics</strong></li>
                        </a>
                        <a href="https://www.geeksforgeeks.org/bit-tricks-competitive-programming/">
                        <li><strong>Bit tricks</strong></li>
                        
                        </a>
                        <!-- <li><strong>3x</strong> option 3</li> -->
                        <!-- <li><strong>Free</strong> option 4</li> -->
                        <!-- <li><strong>Unlimited</strong> option 5</li> -->
                    </ul>
                </div>
                <!-- <div class="btn"> -->
                    <!-- <a href="#">Next</a> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan basic">
            <div class="plan-inner">
                <!-- <div class="hot">hot</div> -->
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/number-of-steps-to-reduce-a-number-to-zero"target="_blank">
                            <li><strong>Steps to 0</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/convert-binary-number-in-a-linked-list-to-integer"target="_blank">
                            <li><strong>LL to integer</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/hamming-distance"target="_blank">
                            <li><strong>Hamming Address</strong></li>
                            </a>
                        <a href="https://leetcode.com/problems/reverse-bits"target="_blank">
                            <li><strong>Reverse Bits</strong> </li>
                        </a>
                        <a href="https://leetcode.com/problems/power-of-four"target="_blank">
                        <li><strong>Power of 4</strong></li>
                        </a>
                        
                    </ul>
                </div>
                <!-- <div class="btn">
                    <a href="#">Next</a>
                </div> -->
            </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan standard">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Medium</h3>
                    <div class="price">75%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://practice.geeksforgeeks.org/problems/set-bits0143/1"target="_blank">
                            <li><strong>Count Setbits</strong></li>
                        </a>
                        <a href="https://practice.geeksforgeeks.org/problems/finding-the-numbers0215/1"target="_blank">
                            <li><strong>Non-repeating Number</strong></li>
                        </a>
                        <a href="https://practice.geeksforgeeks.org/problems/bit-difference/0"target="_blank">
                            <li><strong>Flip A to B</strong></li>
                            </a>
                        <a href="https://practice.geeksforgeeks.org/problems/count-total-set-bits/0"target="_blank">
                            <li><strong>Setbits from 1 to n</strong> </li>
                        </a>
                        <a href="https://practice.geeksforgeeks.org/problems/power-of-2/0"target="_blank">
                        <li><strong>Is Power Of 2</strong></li>
                        </a>
        </ul>
    </div>
    <!-- <div class="btn">
        <a href="#">Next</a>
    </div> -->
</div>
</div>
<!-- end of price tab-->
<!--price tab-->
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://practice.geeksforgeeks.org/problems/find-position-of-set-bit3706/1"target="_blank">
                    <li><strong>Position of Setbits</strong></li>
                </a>
                <a href="https://www.geeksforgeeks.org/copy-set-bits-in-a-range/"target="_blank">
                    <li><strong>Copy Setbits in a range</strong></li>
                </a>
                <a href="https://www.geeksforgeeks.org/divide-two-integers-without-using-multiplication-division-mod-operator//"target="_blank">
                    <li><strong>Divide two integers</strong></li>
                    </a>
                <a href="https://www.geeksforgeeks.org/calculate-square-of-a-number-without-using-and-pow/"target="_blank">
                    <li><strong>Power Calculation</strong> </li>
                </a>
                <a href="https://practice.geeksforgeeks.org/problems/power-set4302/1"target="_blank">
                <li><strong>Power Set</strong></li>
                </a>
            </ul>
        </div>
        <!-- <div class="btn"> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- end of price tab-->
</div>
<a href="/Arrays">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>