<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">DYNAMIC PROGRAMMING</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://www.interviewbit.com/problems/0-1-knapsack/" target="_blank" target="_blank" >
                            <li><strong>0-1-knapsack</strong></li>
                            
                        </a>
                        <a href="https://www.interviewbit.com/problems/stairs/" target="_blank" target="_blank">
                            <li><strong>stairs</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/project-employees-i" target="_blank" target="_blank">
                        <li><strong>project-employees</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/product-sales-analysis-i" target="_blank" target="_blank">
                        <li><strong>product-sales-analysis</strong> </li>
                    </a>
                    <a href="https://leetcode.com/problems/rearrange-products-table" target="_blank" target="_blank">
                        <li><strong>rearrange-products-table</strong></li>
                    </a>
                    <!-- <li><strong>3x</strong> option 3</li> -->
                    <!-- <li><strong>Free</strong> option 4</li> -->
                    <!-- <li><strong>Unlimited</strong> option 5</li> -->
                </ul>
            </div>
            <!-- <div class="btn"> -->
                <!-- <a href="#">Next</a> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan basic">
            <div class="plan-inner">
                <!-- <div class="hot">hot</div> -->
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/missing-number-in-arithmetic-progression" target="_blank">
                            <li><strong>missing-number</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/list-the-products-ordered-in-a-period" target="_blank">
                            <li><strong>list-products-ordered</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/maximum-product-of-three-numbers" target="_blank">
                            <li><strong>max-product-three-numbers</strong></li>
                    </a>
                        <a href="https://www.interviewbit.com/problems/longest-common-subsequence/" target="_blank">
                            <li><strong>longest-common-subsequence</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/fix-product-name-format" target="_blank">
                            <li><strong>fix-product-name-format</strong></li>
                    </a>
                    
                    
                    
                </ul>
            </div>
            <!-- <div class="btn">
                <a href="#">Next</a>
            </div> -->
        </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan standard">
        <div class="plan-inner">
            <div class="entry-title">
                <h3>Medium</h3>
                <div class="price">75%<span>Covered</span>
                </div>
            </div>
            <div class="entry-content">
                <ul>
                    <a href="https://leetcode.com/problems/airplane-seat-assignment-probability" target="_blank">
                        <li><strong>airplane-seat-assignment-probability</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/kill-process" target="_blank">
                        <li><strong>kill-process</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/knight-probability-in-chessboard" target="_blank">
                        <li><strong>knight-probability</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/maximum-product-subarray" target="_blank">
                        <li><strong>maximum-product-subarray</strong></li>
                </a>
                    <a href="https://www.interviewbit.com/problems/longest-palindromic-subsequence/" target="_blank">
                        <li><strong>longest-palindromic-subsequence</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn">
        <a href="#">Next</a>
    </div> -->
</div>
</div>
<!-- end of price tab-->
<!--price tab-->
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://leetcode.com/problems/largest-palindrome-product"target="_blank">
                    <li><strong>largest-palindrome-product</strong></li>
                </a>
                <a href="https://leetcode.com/problems/max-dot-product-of-two-subsequences"target="_blank">
                    <li><strong>max-dot-product-of-two-subsequences</strong></li>
                </a>
                <a href="https://leetcode.com/problems/profitable-schemes"target="_blank">
                    <li><strong>profitable-schemes</strong></li>
                </a>
                <a href="https://leetcode.com/problems/the-skyline-problem"target="_blank">
                    <li><strong>skyline-problem</strong></li>
                </a>
                <a href="https://www.interviewbit.com/problems/scramble-string/"target="_blank">
                    <li><strong>scramble-string</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn"> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- end of price tab-->
</div>
<a href="/Greedy">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>