<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">GRAPHS</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://practice.geeksforgeeks.org/problems/bfs-traversal-of-graph/1">
                            <li><strong>bfs-traversal-of-graph</strong></li>
                            
                        </a>
                        <a href="https://leetcode.com/problems/convert-binary-number-in-a-linked-list-to-integer">
                            <li><strong>convert-binary-to-integer(LL)</strong></li>
                    </a>
                    <a href="https://www.interviewbit.com/problems/level-order/">
                        <li><strong>level-order</strong></li>
                    </a>
                    <a href="https://www.interviewbit.com/problems/min-cost-path/">
                        <li><strong>min-cost-path</strong> </li>
                    </a>
                    <a href="https://www.geeksforgeeks.org/detect-cycle-in-a-graph/">
                        <li><strong>detect-cycle-in-a-graph</strong></li>
                    </a>
                    <!-- <li><strong>3x</strong> option 3</li> -->
                    <!-- <li><strong>Free</strong> option 4</li> -->
                    <!-- <li><strong>Unlimited</strong> option 5</li> -->
                </ul>
            </div>
            <!-- <div class="btn"> -->
                <!-- <a href="#">Next</a> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan basic">
            <div class="plan-inner">
                <!-- <div class="hot">hot</div> -->
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://practice.geeksforgeeks.org/problems/detect-cycle-in-an-undirected-graph/1" target="_blank">
                            <li><strong>detect-cycle-in-undirected-graph</strong></li>
                    </a>
                        <a href="https://practice.geeksforgeeks.org/problems/rat-in-a-maze-problem/1" target="_blank">
                            <li><strong>rat-in-a-maze</strong></li>
                    </a>
                        <a href="https://www.geeksforgeeks.org/dijkstras-shortest-path-algorithm-greedy-algo-7/" target="_blank">
                            <li><strong>dijkstras-algorithm</strong></li>
                    </a>
                        <a href="https://practice.geeksforgeeks.org/problems/find-the-number-of-islands/1" target="_blank">
                            <li><strong>find-the-number-of-islands</strong></li>
                    </a>
                        <a href="https://www.geeksforgeeks.org/kruskals-minimum-spanning-tree-algorithm-greedy-algo-2/" target="_blank">
                            <li><strong>kruskals algorithm</strong></li>
                    </a>
                    
                    
                    
                </ul>
            </div>
            <!-- <div class="btn">
                <a href="#">Next</a>
            </div> -->
        </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan standard">
        <div class="plan-inner">
            <div class="entry-title">
                <h3>Medium</h3>
                <div class="price">75%<span>Covered</span>
                </div>
            </div>
            <div class="entry-content">
                <ul>
                    <a href="https://www.geeksforgeeks.org/total-number-spanning-trees-graph/" target="_blank">
                        <li><strong>total-number-spanning-trees</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/grand-slam-titles" target="_blank">
                        <li><strong>grand-slam-titles</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/sum-of-nodes-with-even-valued-grandparent" target="_blank">
                        <li><strong>sum-of-nodes-with-grandparent</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/all-paths-from-source-to-target" target="_blank">
                        <li><strong>all-paths-source-to-target</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/minimum-number-of-vertices-to-reach-all-nodes" target="_blank">
                        <li><strong>minimum-number-of-vertices</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn">
        <a href="#">Next</a>
    </div> -->
</div>
</div>
<!-- end of price tab-->
<!--price tab-->
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://leetcode.com/problems/number-of-provinces" target="_blank">
                    <li><strong>number-of-provinces</strong></li>
                </a>
                <a href="https://leetcode.com/problems/checking-existence-of-edge-length-limited-paths-ii" target="_blank">
                    <li><strong>checking-existence-of-edge</strong></li>
                </a>
                <a href="https://https://leetcode.com/problems/shortest-path-visiting-all-nodes" target="_blank">
                    <li><strong>shortest-path</strong></li>
                </a>
                <a href="https://leetcode.com/problems/find-critical-and-pseudo-critical-edges-in-minimum-spanning-tree" target="_blank">
                    <li><strong>find-critical-and-pseudo-critical-edges</strong></li>
                </a>
                <a href="https://leetcode.com/problems/the-most-similar-path-in-a-graph" target="_blank">
                    <li><strong>the-most-similar-path</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn"> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- end of price tab-->
</div>
<a href="">
    <!-- <h1 style="text-align: center;">NEXT TOPIC</h1> -->
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>