<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">GREEDY ALGORITHMS</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/next-greater-element-i" target="_blank">
                            <li><strong>next-greater-element-i</strong></li>
                            
                        </a>
                        <a href="https://leetcode.com/problems/greatest-common-divisor-of-strings" target="_blank">
                            <li><strong>greatest-common-divisor</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/make-the-string-great">
                        <li><strong>make-the-string-great</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/kids-with-the-greatest-number-of-candies" target="_blank">
                        <li><strong>greatest-number-of-candies</strong> </li>
                    </a>
                    <a href="https://leetcode.com/problems/find-smallest-letter-greater-than-target" target="_blank">
                        <li><strong>smallest-greater-than-target</strong></li>
                    </a>
                    <!-- <li><strong>3x</strong> option 3</li> -->
                    <!-- <li><strong>Free</strong> option 4</li> -->
                    <!-- <li><strong>Unlimited</strong> option 5</li> -->
                </ul>
            </div>
            <!-- <div class="btn"> -->
                <!-- <a href="#">Next</a> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan basic">
            <div class="plan-inner">
                <!-- <div class="hot">hot</div> -->
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/special-array-with-x-elements-greater-than-or-equal-x" target="_blank">
                            <li><strong>special-array</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/traffic-light-controlled-intersection" target="_blank">
                            <li><strong>traffic-light</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/assign-cookies" target="_blank">
                            <li><strong>assign-cookies</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/invalid-tweets" target="_blank">
                            <li><strong>invalid-tweets</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/minimum-subsequence-in-non-increasing-order" target="_blank">
                            <li><strong>minimum-subsequencer</strong></li>
                    </a>
                    
                    
                    
                </ul>
            </div>
            <!-- <div class="btn">
                <a href="#">Next</a>
            </div> -->
        </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan standard">
        <div class="plan-inner">
            <div class="entry-title">
                <h3>Medium</h3>
                <div class="price">75%<span>Covered</span>
                </div>
            </div>
            <div class="entry-content">
                <ul>
                    <a href="https://leetcode.com/problems/next-greater-element-ii" target="_blank">
                        <li><strong>next-greater-element</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/greatest-sum-divisible-by-three" target="_blank">
                        <li><strong>greatest-sum-divisible-by-three</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/next-greater-node-in-linked-list" target="_blank">
                        <li><strong>next-greater-node-in-linked-list</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/paint-fence" target="_blank">
                        <li><strong>paint-fence</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/find-a-corresponding-node-of-a-binary-tree-in-a-clone-of-that-tree" target="_blank">
                        <li><strong>corresponding-node</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn">
        <a href="#">Next</a>
    </div> -->
</div>
</div>
<!-- end of price tab-->
<!--price tab-->
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://leetcode.com/problems/text-justification" target="_blank">
                    <li><strong>text-justification</strong></li>
                </a>
                <a href="https://leetcode.com/problems/zuma-game" target="_blank">
                    <li><strong>zuma-game</strong></li>
                </a>
                <a href="https://leetcode.com/problems/maximum-number-of-events-that-can-be-attended-ii" target="_blank">
                    <li><strong>maximum-events-attended</strong></li>
                </a>
                <a href="https://leetcode.com/problems/cherry-pickup-ii" target="_blank">
                    <li><strong>cherry-pickup</strong></li>
                </a>
                <a href="https://leetcode.com/problems/get-the-maximum-score" target="_blank">
                    <li><strong>maximum-score</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn"> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- end of price tab-->
</div>
<a href="/Graphs">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>