<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">HASHING</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://www.interviewbit.com/problems/check-palindrome/"  target="_blank">
                            <li><strong>check-palindrome</strong></li>
                            
                        </a>
                        <a href="https://www.interviewbit.com/problems/first-repeating-element/"target="_blank">
                            <li><strong>first-repeating-element</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/check-if-binary-string-has-at-most-one-segment-of-ones"target="_blank">
                        <li><strong>segment-of-ones</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/design-hashmap" target="_blank">
                        <li><strong>design-hashmap</strong> </li>
                    </a>
                    <a href="https://leetcode.com/problems/design-hashset/">
                        <li><strong>design-hashset</strong></li>
                    </a>
                    <!-- <li><strong>3x</strong> option 3</li> -->
                    <!-- <li><strong>Free</strong> option 4</li> -->
                    <!-- <li><strong>Unlimited</strong> option 5</li> -->
                </ul>
            </div>
            <!-- <div class="btn"> -->
                <!-- <a href="#">Next</a> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan basic">
            <div class="plan-inner">
                <!-- <div class="hot">hot</div> -->
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/fair-candy-swap">
                            <li><strong>fair-candy-swap</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/find-nearest-point-that-has-the-same-x-or-y-coordinate">
                            <li><strong>same-x-or-y-coordinate</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/kids-with-the-greatest-number-of-candies">
                            <li><strong>greatest-number-of-candies</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/richest-customer-wealth">
                            <li><strong>richest-customer-wealth</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/binary-search-tree-iterator">
                            <li><strong>binary-search-tree-iterator</strong></li>
                    </a>
                    
                    
                    
                </ul>
            </div>
            <!-- <div class="btn">
                <a href="#">Next</a>
            </div> -->
        </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan standard">
        <div class="plan-inner">
            <div class="entry-title">
                <h3>Medium</h3>
                <div class="price">75%<span>Covered</span>
                </div>
            </div>
            <div class="entry-content">
                <ul>
                    <a href="https://leetcode.com/problems/count-apples-and-oranges">
                        <li><strong>count-apples-and-oranges</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/design-a-stack-with-increment-operation">
                        <li><strong>stack-with-increment-operation</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/flatten-nested-list-iterator">
                        <li><strong>nested-list-iterator</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/magnetic-force-between-two-balls">
                        <li><strong>magnetic-force-between-two-balls</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/zigzag-iterator">
                        <li><strong>zigzag-iterator</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn">
        <a href="#">Next</a>
    </div> -->
</div>
</div>
<!-- end of price tab-->
<!--price tab-->
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://leetcode.com/problems/design-search-autocomplete-system">
                    <li><strong>design-search-autocomplete</strong></li>
                </a>
                <a href="https://leetcode.com/problems/minimum-number-of-refueling-stops">
                    <li><strong>refueling-stops</strong></li>
                </a>
                <a href="https://leetcode.com/problems/smallest-sufficient-team">
                    <li><strong>smallest-sufficient-team</strong></li>
                </a>
                <a href="https://www.interviewbit.com/problems/window-string/">
                    <li><strong>window-string</strong></li>
                </a>
                <a href="https://www.interviewbit.com/problems/substring-concatenation/">
                    <li><strong>substring-concatenation</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn"> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- end of price tab-->
</div>
<a href="/tree">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>