<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %><br>
    <h2 class="homehead">Complete pathway to product based!!</h2>
    <div class="row"></div>
    <div class="container">
    <a href="topics"><div class="boxHome col-sm-12 col-4 bd"><p class="boxHomeCont">DSA Series</p></div></a>
        
    <a href="/blogs"><div class="boxHome col-sm-12 col-4"><p class="boxHomeCont">View Experiences</p></div></a>
    <a href="/programming"><div class="boxHome col-sm-12 col-4"><p class="boxHomeCont">Programming</p></div></a>
    <a href="/hr"><div class="boxHome col-sm-12 col-4"><p class="boxHomeCont">HR Round</p></div></a>
    <a href="/aptitude"><div class="boxHome col-sm-12 col-4 bd"><p class="boxHomeCont">Puzzles&Aptitude</p></div></a>
    </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>