<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">LINKED LIST</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://www.geeksforgeeks.org/linked-list-set-1-introduction/"target="_blank">
                            <li><strong>Introduction </strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/reverse-linked-list"target="_blank">
                            <li><strong>Reverse LL</strong></li>
                        </a>
                            <a href="https://leetcode.com/problems/middle-of-the-linked-list"target="_blank">
                                <li><strong>Middle of LL</strong> </li>
                        </a>
                        <a href="https://leetcode.com/problems/delete-node-in-a-linked-list"target="_blank">
                            <li><strong>Delete Node in LL</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/merge-two-sorted-lists"target="_blank">
                            <li><strong>Merge sorted LL</strong></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="plan basic">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/remove-duplicates-from-sorted-list"target="_blank">
                            <li><strong>Remove duplicates</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/intersection-of-two-linked-lists"target="_blank">
                            <li><strong>Intersection of LL</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/linked-list-cycle"target="_blank">
                            <li><strong>LL Cycle</strong> </li>
                        </a>
                        <a href="https://leetcode.com/problems/palindrome-linked-list"target="_blank">
                            <li><strong>Palindrome LL</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/remove-linked-list-elements"target="_blank">
                            <li><strong>Remove LL elements</strong></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="plan standard">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Medium</h3>
                    <div class="price">75%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/swapping-nodes-in-a-linked-list"target="_blank">
                            <li><strong>Swapping Nodes</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/next-greater-node-in-linked-list"target="_blank">
                            <li><strong>Next Greater</strong></li>
                        </a>
                            <a href="https://leetcode.com/problems/odd-even-linked-list"target="_blank">
                                <li><strong>Odd-Even LL</strong> </li>
                        </a>
                            <a href="https://leetcode.com/problems/add-two-numbers-ii"target="_blank">
                            <li><strong>Add Numbers</strong></li>
                            </a>
                            <a href="https://leetcode.com/problems/split-linked-list-in-parts"target="_blank">
                            <li><strong>Split LL</strong></li>
                        </a>
        </ul>
    </div>
</div>
</div>
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://leetcode.com/problems/reorder-list"target="_blank">
                    <li><strong>Reorder List</strong></li>
                </a>
                <a href="https://leetcode.com/problems/rotate-list"target="_blank">
                    <li><strong>Rotate List</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/design-linked-list"target="_blank">
                        <li><strong>Design LL</strong> </li>
                </a>
                <a href="https://leetcode.com/problems/reverse-nodes-in-k-group"target="_blank">
                <li><strong>Reverse in k-group</strong></li>
                </a>
                <a href="https://leetcode.com/problems/merge-k-sorted-lists"target="_blank">
                <li><strong>Merge k-sorted LL</strong></li>
                </a>
            </ul>
        </div>
        </div>
    </div>
</div>
<a href="/Backtracking">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>