<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
    <!-- <body class="contBox"> -->
    <%- include('./partials/nav.ejs') %><br>
    <div class="contBox">
    <!-- <div class="contBox"> -->

        <h2 class="homehead">COMPETITIVE PROGRAMMING</h2>
        <p class="contBox"><br>
            <h2 class="contBoxhead">STL</h2>
            ​Watch STL videos from Semicolon Youtube.<br>
            <a href="https://www.youtube.com/playlist?list=PLVBorYCcu-xXWDdyWYDr4KrqIjPSm9uAe" class="contlink" style="color: blue;">youtube/semicolon/stl</a><br>
            ​
            St​udy STL and its Containers from GFG.<br>
            <a href="https://www.geeksforgeeks.org/the-c-standard-template-library-stl/" class="contlink" style="color: blue;">geeksforgeeks/c++_stl</a><br>
            ​
            Glance through STL articles on Topcoder.<br>
            ​<a href="https://www.topcoder.com/community/competitive-programming/tutorials/power-up-c-with-the-standard-template-library-part-1/" class="contlink" style="color: blue;">topcoder/c++_stl</a>
            <br><br>
            <h2 class="contBoxhead">Most Solved on CF</h2>
            Register a user handle on Codeforces.<br>
            Solve the first 25 most solved problems on CF.<br>
            <a href="https://codeforces.com/problemset?order=BY_SOLVED_DESC" class="contlink" style="color: blue;">​codeforces/most_solved (first 25)</a><br>
            <br><h2 class="contBoxhead">A2OJ Ladders</h2><br>
            Sync CF handle with A2OJ.<br>
            ​Solve the first ladder rated for CF Rating < 1300 on A2OJ.<br>
            Solve subsequent ladders only if accuracy isn't good enough.<br>
            ​<a href="https://a2oj.com/ladders" class="contlink" style="color: blue;">a2oj/ladders</a><br>
            <br><h2 class="contBoxhead">Contests</h2>
            Appear in 10 Div 2 and Div 3 Contests (Real + Virtual) on CF.<br>
            After first 10 contests' experience, appear in every new live Contest.<br>
            If a Contest is missed, enter in it virtually.<br>
            <a href="https://codeforces.com/contests" class="contlink" style="color: blue;">codeforces/contests</a><br>
            <br><h2 class="contBoxhead">COPS POTW</h2>
            Master CP Skills by following POTW and Editorials on Competitive Programming by COPS IIT (BHU).<br>
            <a href="https://docs.google.com/document/d/1J2c5zkhvZQ8U2S5PNxZoTQce0MO2JCdPOrnfViZ2Lv8/edit" class="contlink" style="color: blue;">cops/potw</a>
        </p>
    </div>
    </body>
    </html>