<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">QUEUE</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/number-of-recent-calls"target="_blank"target="_blank">
                            <li><strong>Recent Calls</strong></li>
                    </a>
                    <a href="https://www.geeksforgeeks.org/reversing-first-k-elements-queue/?ref=rp"target="_blank"target="_blank">
                        <li><strong>Reverse first k</strong></li>
                    </a>
                        <a href="https://www.geeksforgeeks.org/reversing-a-queue-using-another-queue/?ref=rp"target="_blank"target="_blank">
                            <li><strong>Reverse Queue</strong> </li>
                    </a>
                        <a href="https://www.geeksforgeeks.org/queue-using-stacks/"target="_blank"target="_blank">
                        <li><strong>Queue using Stacks</strong></li>
                        </a>
                        <a href="https://www.geeksforgeeks.org/deque-set-1-introduction-applications/"target="_blank"target="_blank">
                        <li><strong>Deque Introduction</strong></li>
                        
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="plan basic">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/task-scheduler"target="_blank"target="_blank">
                            <li><strong>Task Scheduler</strong></li>
                    </a>
                    <a href="https://www.geeksforgeeks.org/check-queue-can-sorted-another-queue-using-stack/?ref=rp"target="_blank"target="_blank">
                        <li><strong>Can be Sorted?</strong></li>
                    </a>
                        <a href="https://www.interviewbit.com/problems/first-non-repeating-character-in-a-stream-of-characters/"target="_blank"target="_blank">
                            <li><strong>Non Repeat</strong> </li>
                    </a>
                        <a href="https://www.interviewbit.com/problems/sliding-window-maximum/"target="_blank"target="_blank">
                        <li><strong>Sliding Window Max</strong></li>
                        </a>
                        <a href="https://leetcode.com/problems/binary-tree-right-side-view"target="_blank"target="_blank">
                        <li><strong>Bin Tree Right view</strong></li>
                        
                        </a>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="plan standard">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Medium</h3>
                    <div class="price">75%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/design-circular-deque"target="_blank">
                            <li><strong>Circular Deque</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/find-the-most-competitive-subsequence"target="_blank">
                        <li><strong>Competitive Subseq</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/binary-tree-inorder-traversal"target="_blank">
                            <li><strong>Inorder Traversal</strong> </li>
                    </a>
                        <a href="https://www.hackerrank.com/challenges/down-to-zero-ii"target="_blank">
                        <li><strong>Down to zero</strong></li>
                        </a>
                        <a href="https://www.hackerrank.com/challenges/castle-on-the-grid"target="_blank">
                        <li><strong>Castle on Grid</strong></li>
                        
                        </a>
        </ul>
    </div>
    <!-- <div class="btn">
        <a href="#">Next</a>
    </div> -->
</div>
</div>
<!-- end of price tab-->
<!--price tab-->
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://www.hackerrank.com/challenges/truck-tour"target="_blank">
                    <li><strong>Truck Tour</strong></li>
            </a>
            <a href="https://www.hackerrank.com/challenges/queries-with-fixed-length"target="_blank">
                <li><strong>Queries of fix length</strong></li>
            </a>
                <a href="https://leetcode.com/problems/shortest-subarray-with-sum-at-least-k"target="_blank">
                    <li><strong>Subarray Sum</strong> </li>
            </a>
                <a href="https://leetcode.com/problems/max-sum-of-rectangle-no-larger-than-k"target="_blank">
                <li><strong>Max Sum Rectangles</strong></li>
                </a>
                <a href="https://leetcode.com/problems/finding-mk-average"target="_blank">
                <li><strong>MK Average</strong></li>
                
                </a>
            </ul>
        </div>
        </div>
    </div>
</div>
<a href="/Linkedlist">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>