<!DOCTYPE html>
<html lang="en">
  <!-- <%- include('./partials/header.ejs') %> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/topicsStyle.css"> -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="topicsStyle.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
   <div style="text-align: center;">

      <h1>Complete Data Structures and Algorithms</h1>
    </div>
    <main class="page-content">
        <div class="card">
          <div class="content">
            <h2 class="title">Time Complexity</h2>
            <p class="copy">Amount of time taken by an algorithm to run</p>
            <a href="/TimeComplexity">
              <button class="btntopic">Start Learning</button>
              </a>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <h2 class="title">Bit Manipulation</h2>
            <p class="copy" style="color: white;"> The act of algorithmically manipulating bits </p>
            <a href="/BitManipulation">
              <button class="btntopic">Start Learning</button>
              </a>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <h2 class="title">Arrays</h2>
            <p class="copy">data structure that stores a sequential collection of similar elements</p>
            <a href="/Arrays">
              <button class="btntopic">Start Learning</button>
              </a>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <h2 class="title">Stacks</h2>
            <p class="copy">An abstract data type with push & pop operations</p>
            <a href="/Stacks">
              <button class="btntopic">Start Learning</button>
              </a>
          </div>
        </div>
        <div class="card">
            <div class="content">
              <h2 class="title">Queues</h2>
              <p class="copy">An abstract data type with push & pop operation</p>
              <a href="/Queue">
                <button class="btntopic">Start Learning</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <h2 class="title">Linked Lists</h2>
              <p class="copy">An interesting linear collection of data elements</p>
              <a href="/Linkedlist">
                <button class="btntopic">Start Learning</button>
                </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <h2 class="title">Backtracking</h2>
              <p class="copy">Algorithmic-technique for solving problems recursively </p>
              <a href="/Backtracking">
              <button class="btntopic">Start Learning</button>
              </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <h2 class="title">Hashing</h2>
              <p class="copy">algorithmic-technique for solving problems recursively </p>
              <a href="/Hashing">
                <button class="btntopic">Start Learning</button>
              </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <h2 class="title">Trees</h2>
              <p class="copy">An amazing hierarchical data structure </p>
              <a href="/tree">
              <button class="btntopic">Start Learning</button>
            </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <h2 class="title">Dynamic Programming</h2>
              <p class="copy">Algorithmic technique based on recursion & memoisation </p>
              <a href="/DP">
                <button class="btntopic">Start Learning</button>
              </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <h2 class="title">Greedy Algorithms</h2>
              <p class="copy">Intuitive algorithm used in optimization problems.</p>
              <a href="/Greedy">
                <button class="btntopic">Start Learning</button>
              </a>
            </div>
        </div>
        <div class="card">
            <div class="content">
              <h2 class="title">Graphs</h2>
              <p class="copy">A non-linear data structure consisting of nodes and edges </p>
              <a href="/Graphs">
                <button class="btntopic">Start Learning</button>
              </a>
            </div>
        </div>
      </main>
</body>
</html>
