<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<body >
    <%- include('./partials/nav.ejs') %>
  <h1 style="text-align: center;">TREE</h1>
  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="tree.css">
</head>
<body>
    
    <div id="price">
        <!--price tab-->
        <div class="plan">
            <div class="plan-inner">
                <div class="entry-title">
                    <h3>Basics </h3>
                    <div class="price">25%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://leetcode.com/problems/binary-tree-preorder-traversal" target="_blank">
                            <li><strong>Binary Tree preorder traversal</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/same-tree" target="_blank">
                        <li><strong>Same Tree</strong></li>
                    </a>
                    <a href="https://leetcode.com/problems/binary-tree-inorder-traversal" target="_blank">
                        <li><strong>Inorder Traversal</strong> </li>
                    </a>
                    <a href="https://practice.geeksforgeeks.org/problems/height-of-binary-tree/1" target="_blank">
                        <li><strong>Height of Binary Tree</strong></li>
                    </a>
                    <a href="https://practice.geeksforgeeks.org/problems/diameter-of-binary-tree/1" target="_blank">
                        <li><strong>Diameter of Binary Tree</strong></li>
                        
                    </a>
                    <!-- <li><strong>3x</strong> option 3</li> -->
                    <!-- <li><strong>Free</strong> option 4</li> -->
                    <!-- <li><strong>Unlimited</strong> option 5</li> -->
                </ul>
            </div>
            <!-- <div class="btn"> -->
                <!-- <a href="#">Next</a> -->
                <!-- </div> -->
            </div>
        </div>
        <!-- end of price tab-->
        <!--price tab-->
        <div class="plan basic">
            <div class="plan-inner">
                <!-- <div class="hot">hot</div> -->
                <div class="entry-title">
                    <h3>Easy</h3>
                    <div class="price">50%<span>Covered</span>
                    </div>
                </div>
                <div class="entry-content">
                    <ul>
                        <a href="https://www.codingninjas.com/codestudio/problems/remove-leaf-nodes_36490?leftPanelTab=0" target="_blank">
                            <li><strong>remove-leaf-nodes</strong></li>
                    </a>
                        <a href="https://www.interviewbit.com/problems/maximum-level-sum/" target="_blank">
                            <li><strong>maximum-level-sum</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/balanced-binary-tree" target="_blank">
                            <li><strong>balanced-binary-tree</strong></li>
                    </a>
                        <a href="https://leetcode.com/problems/cousins-in-binary-tree" target="_blank">
                            <li><strong>cousins-in-binary-tree</strong></li>
                    </a>
                        <a href="https://practice.geeksforgeeks.org/problems/left-view-of-binary-tree/1" target="_blank">
                            <li><strong>Left view of binary tree</strong></li>
                    </a>
                    
                    
                    
                </ul>
            </div>
            <!-- <div class="btn">
                <a href="#">Next</a>
            </div> -->
        </div>
    </div>
    <!-- end of price tab-->
    <!--price tab-->
    <div class="plan standard">
        <div class="plan-inner">
            <div class="entry-title">
                <h3>Medium</h3>
                <div class="price">75%<span>Covered</span>
                </div>
            </div>
            <div class="entry-content">
                <ul>
                    <a href="https://leetcode.com/problems/merge-two-binary-trees" target="_blank">
                        <li><strong>merge-two-binary-trees</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/print-binary-tree" target="_blank">
                        <li><strong>print-binary-tree</strong></li>
                </a>
                    <a href="https://www.interviewbit.com/problems/zigzag-level-order-traversal-bt/" target="_blank">
                        <li><strong>zigzag-level-order-traversal</strong></li>
                </a>
                    <a href="https://www.interviewbit.com/problems/diagonal-traversal/" target="_blank">
                        <li><strong>diagonal-traversal</strong></li>
                </a>
                    <a href="https://leetcode.com/problems/maximum-binary-tree" target="_blank">
                        <li><strong>maximum-binary-tree</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn">
        <a href="#">Next</a>
    </div> -->
</div>
</div>
<!-- end of price tab-->
<!--price tab-->
<div class="plan ultimite">
    <div class="plan-inner">
        <div class="entry-title">
            <h3>Hard</h3>
            <div class="price">100%<span>Covered</span>
            </div>
        </div>
        <div class="entry-content">
            <ul>
                <a href="https://leetcode.com/problems/tree-of-coprimes" target="_blank">
                    <li><strong>tree-of-coprimes</strong></li>
                </a>
                <a href="https://leetcode.com/problems/binary-tree-cameras" target="_blank">
                    <li><strong>binary-tree-cameras</strong></li>
                </a>
                <a href="https://leetcode.com/problems/sum-of-distances-in-tree" target="_blank">
                    <li><strong>sum-of-distances-in-tree</strong></li>
                </a>
                <a href="https://leetcode.com/problems/kth-ancestor-of-a-tree-node" target="_blank">
                    <li><strong>kth-ancestor-of-a-tree-node</strong></li>
                </a>
                <a href="https://www.interviewbit.com/problems/burn-a-tree/" target="_blank">
                    <li><strong>burn-a-tree/</strong></li>
                </a>
                
                
            </ul>
        </div>
        <!-- <div class="btn"> -->
            <!-- </div> -->
        </div>
    </div>
    <!-- end of price tab-->
</div>
<a href="/DP">
    <h1 style="text-align:right;">NEXT TOPIC</h1>
</a>


    <%- include('./partials/footer.ejs') %>
</body>
</html>